
/* general  */
:root{
    --general-font: 'Poppins', sans-serif;
    --name-font: 'Audiowide', cursive;
    --titel-font: 'Playball', cursive;
    --general-color: #fff;
    --primary-color: #0563bb;
    --gray-color: #eee;
    --scale-color: #dadada;
    --black-color: #222;
    --name-color: #45505b;
    --background-nap: #ffffffcc;
    --background-page-color: linear-gradient(to bottom, #b1b1b1, #9c9bb3, #8086b5, #5b74b8, #0563bb);
    --background-box: linear-gradient(145deg, #1e2024, #23272b);
    --background-box-hover: linear-gradient(145deg, #353636, #141414);
    --box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
body{
    font-size: 0.6rem;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--general-font);
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
.container{
    max-width: 1150px;
    padding: 5px;
    margin: auto;
}
section{
    background-color: var(--gray-color);
}
/* header  */
.header{
    background-color: var(--general-color);
    position: relative;
    top: 0;
    left: 0;
    right: 0;
}
.navbar{
    background-color: var(--general-color);
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: -100%;
    transition: 0.6s;
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -o-transition: 0.6s;
}
.open, .close{
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
}
.open:hover, .close:hover{
    background-color: var(--primary-color);
}
.open:hover .bar{
    background-color: var(--general-color);
}
.close:hover .fa-solid{
    color: var(--general-color);
}
.open .bar{
    width: 30px;
    height: 2px;
    background-color: var(--black-color);
    margin: 5px 0;
}
.close .fa-solid{
    font-size: 1.4em;
}
.logo img{
    width: 100px;
}
header .nav-close, .navbar .header-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu ul{
    display: flex;
    flex-direction: column;
    margin-top: 0.5em;
}
.menu li{
    margin: 0.3em 0;
    padding-left: 15px;
}
.menu li a{
    text-transform: capitalize;
    font-size: 2.5em;
    letter-spacing: 1px;
    color: var(--black-color);
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
}
.menu li a:hover{
    color: var(--primary-color);
}




/* home */
.home{
    height: calc(100vh - 64px);
    width: 100%;
    overflow: hidden;
}
.home{
    background: url(img/IMG_20211202_221106.jpg) no-repeat top;
    background-position: 55%;
    background-size: cover;
}
.content-nap{
    height: calc(100vh - 64px);
    width: 100vw;
    background: var(--background-nap);
    display: flex;
    align-items: center;
    justify-content: center;
}
.content-nap .container{
    display: flex;
    flex-direction: column;
}
.content-nap h1{
    font-family: var(--name-font);
    text-transform: capitalize;
    font-size: 3em;
    color: var(--name-color);
    letter-spacing: 2px;
}
.content-nap p{
    color: var(--primary-color);
    line-height: 2.2;
    font-size: 1.6em;
    letter-spacing: 1px;
}
.content-nap .fix-p{
    color: var(--black-color);
}
.content-nap .auto-type{
    text-transform: capitalize;
}
.content-nap ul{
    display: flex;
    margin-top: 10px;
}
.content-nap ul li{
    margin-right: 20px;
}
.content-nap li .fa-brands{
    color: var(--primary-color);
    font-size: 1.8em;
}



/* about  */
.about h2{
    text-transform: uppercase;
    font-family: var(--titel-font);
    font-size: 3em;
    letter-spacing: 2px;
    word-spacing: 4px;
    text-align: center;
    color: var(--primary-color);
    margin: 1.3em 0;
}
.about h3{
    margin: 0.5em 0;
    font-size: 2em;
    letter-spacing: 1px;
    text-align: center;
}
.motivation{
    padding: 3.8em 2.5em;
    margin: 1.8em 0;
    margin: 1em 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 0 2em 0 2em;
    background-color: var(--general-color);
    box-shadow: var(--box-shadow);
}
.motivation img{
    margin-right: 1.87em;
    width: 280px;
    border-radius: 50%;
}
.motivation p{
    line-height: 1.8;
    font-size: 1.1em;
    letter-spacing: 1px;
}
.motivation p:first-child{
    line-height: 2.5;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--primary-color);
}
.information{
    display: grid;
    grid-template-columns: 45% auto;
    margin: 1em 0;
}
.information h4{
    cursor: pointer;
    color: var(--primary-color);
    margin: 1em 0 1.5em 0;
    font-weight: 600;
    font-size: 1.17em;
}
.information ul li{
    margin: 10px 0;
}
.information li strong{
    text-transform: capitalize;
    letter-spacing: 1px;
}
.information li .fa-solid{
    display: inline-block;
    height: 28px;
    width: 28px;
    font-size: 1.2em;
    color: var(--primary-color);
}.lng{
    margin-bottom: 16px;
}
.lng p{
    padding: 0 3px;
    font-size: 0.9em;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 6px;
}
.lng-info{
    display: flex;
    justify-content: space-between;
}
.scale{
    height: 10px;
    width: 100%;
    border-radius: 2em;
    background-color: var(--scale-color);
}
.pourcentage-scale{
    height: 10px;
    border-radius: 2em;
    background-color: var(--primary-color);
}
.scale-html{
    width: calc(100% - 10%);
}
.scale-css{
    width: calc(100% - 15%);
}
.scale-js{
    width: calc(100% - 35%);
}
@media only screen and (max-width: 1150px) {
    .motivation{
        flex-wrap: wrap;
    }
    .motivation img{
        margin-right: 0;
        margin-bottom: 1em;
    }
    .information{
        grid-template-columns: auto;
    }
    .container{
        padding-left: 20px;
        padding-right: 20px;
    }
}
@media only screen and (max-width: 408px){
    .info-about-me li{
        display: flex;
        flex-direction: column;
    }
}
@media only screen and (max-width: 350px){
    body{
        font-size: 0.8em;
    }
    .motivation img{
        width: 210px;
    }
}
